<footer class="footer">
		<div>
			<a href="/" class="logo"><img src="/images/logo.png" alt="" /></a>
			<nav class="footer-navigation">
				<a href="/home">Home</a>
				<a href="/wine">Wine</a>
				<a href="/vineyard">Vineyard</a>
				<a href="/club">Club</a>
				<a href="/contact">Contact</a>
				<a href="/admin/orders-customers/log-in">Admin</a>
			</nav>
		</div>
		<div>
			<section>
				<h5>Location</h5>
				<p>100 yards south of </p>
				<p>2824 Jamul Highlands Road</p>
			</section>
			<section>
				<a href="http://www.thewineriesonhighway94.com/"><img src="/images/highway-94/highway-94-logo.png" alt="" /></a>
			</section>
			<section style="text-align: right;">
				<h5>Contact</h5>
				<p>(619) 433-9896</p>
				<p>service@granitelioncellars.com</p>
			</section>
			<p><i>© Copyright 2016. Granite Lion Cellars. All Rights Reserved.</i></p>
			
		</div>
	</div>
</footer>