<header class="main-header">
	<div>
		<a href="/" class="logo"><img src="/images/logo.png" alt="The Best Of Sand Diegos Wineries" /></a>
		<!--<nav class="main-navigation">
			{% if page.pageclass == 'home' %}			
			<a href="/" class="selected">Home</a>
			{% else %}
			<a href="/">Home</a>
			{% endif %}
			
			
			{% if page.pageclass == 'wine' %}			
			<a href="/wine" class="selected">Wine</a>
			{% else %}
			<a href="/wine">Wine</a>
			{% endif %}
			
			
			{% if page.pageclass == 'tasting' %}			
			<a href="/wine-tasting-san-diego/" class="selected">Tasting</a>
			{% else %}
			<a href="/wine-tasting-san-diego/">Tasting</a>
			{% endif %}
			
			
			{% if page.pageclass == 'vineyard' %}			
			<a href="/vineyard" class="selected">Vineyard</a>
			{% else %}
			<a href="/vineyard">Vineyard</a>
			{% endif %}
			
			
			{% if page.pageclass == 'club' %}			
			<a href="/club" class="selected">Club</a>
			{% else %}
			<a href="/club">Club</a>
			{% endif %}
			
			
			{% if page.pageclass == 'contact' %}			
			<a href="/contact" class="selected">Contact</a>
			{% else %}
			<a href="/contact">Contact</a>
			{% endif %}
			
			<a href="https://granitelioncellars.foxycart.com/cart?cart=view" class="cart"></a>
		</nav>-->
		{% include nav.html %}
	</div>
</header>