---
layout: default
---

<section class="admin">
	<h1>Email Client</h1>
	<a href="http://email.granitelioncellars.com/" class="button">Click Here To Open Your Email Client</a>
	
	<h1>Order Management</h1>
	<a href="https://app.orderdesk.me/login" class="button">Click Here To Manage Your Orders</a>
	
	<h1>Quarterly Club Shipment Links</h1>
	<ul class="quarterly-shipments">
	
	{% for item in site.quarterly-shipments %}
		<li>
			<h2>{{ item.title }}</h2>
			{% for wine in item.products %}
				<div>
					<img src="{{ wine.image_path }}" alt="" />
					<h3>{{ wine.year }} {{ wine.wine | remove: "/" | remove: "white" | remove: "red" | remove: "collections" | replace: '-', ' ' | capitalize }}</h3>
					<h4>{{ wine.price }}</h4>
				</div>
			{% endfor %} 
			<br />
			<a href="
			https://granitelioncellars.foxycart.com/cart?
			
			1:name={{ item.title }}
			&1:code=quarterly
			&1:price=0
			&1:category=glc-wine-club
			&coupon=glc14
			&1:quantity_max=1
			
				{% assign count = '1' %}	
				{% for wine in item.products %}
				{% capture count %}{{ count | plus: '1' }}{% endcapture %}
				
				
				&{{ count }}:name={{ wine.year }} {{ wine.wine | remove: "/" | remove: "white" | remove: "red" | remove: "collections" | replace: '-', ' ' | capitalize }}
				&{{ count }}:price={{ wine.price }}
				&{{ count }}:image={{ wine.image_path }}
				&{{ count }}:category={{ item.category }}
				&{{ count }}:parent_code=quarterly
				&{{ count }}:quantity_min=1
				
				{% endfor %} 
			" class="button">{{ item.title }}</a>
		</li>
	{% endfor %}
	</ul>
</section>